
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-mobile-alt:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */